body{
    background-color:white;
}

h3{
    text-align: center;
    text-decoration-color: black;
}

div{
    width: 50%;
    margin: auto;
    width: 350px;
    height: 550px;
    background-color: black;
    position:relative ;
    top: 45px;
    
}

#alignment{
    position: fixed;
    left: 790px;
    top: 50px;
    font-style:normal;
    color: white;
    font-size: 60px;
}

button{

    position: relative;
    top: 20px;
    left: 14px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 28px;
    margin-right: 10px;
    background-color: rgba(175, 170, 170, 0.279);
    color: white;
}

.color-orange{
    font-size: 30px;
    background-color: orange;
    color: white;
}

.shape-change{
    position: fixed;
    left: 608px;
    top: 550px;
    border-radius: 40px;
    height: 60px;
    width: 155px;
    background-color:rgba(175, 170, 170, 0.279);

}

#shift-position-1{
    position: relative;
    left: 182px;
}

#shift-position-2{
    position: relative;
    left: 182px;
}

#size-change{
    font-size: 35px;
    position: relative;
    left: 25px;
    bottom: 25px;
    color: white;
}

.color-black{
    background-color: darkgray;
    color: black;
    font-size:30px ;
}

#font-size{
    font-size: 40px;
}