h4{
    font-size: large;
    font-family: sans-serif;
    position: relative;
    left: 200px;
}

.change{
    width: 100%;
    height: 35px;
    background-color: rgba(248, 242, 242, 0.878);
    font-size: 25px;
}

#shift-right{
    color: brown;
    position: relative;
    left: 1090px;
    top: 0px;
}

#position{
    position: relative;
    top: 3px;
    left: 200px;

}


table{
    position: relative;
    left: 130px;
    font-size: 12px;
    border-collapse: collapse ;
    width: 80%;
}

th,td {
    padding: 13px;
    text-align: center;
    border-bottom: 0.5px solid #ddd;
}

tr:hover{
    background-color: rgb(175, 172, 165);
}

th{
    background-color: rgba(248, 242, 242, 0.878);
}


.size-color{
    border-radius: 50%;
   
}

.shape-box{
    width: 40px;
    height: 25px;
    background-color: rgb(144, 141, 141);
    text-align: center;
}

#change-color{
    background-color: rgba(5, 37, 247, 0.788);
    width: 130px;
    height: 30px;
}

#change-color1{
    position: relative;
    right: 5px;
    top: 2px;
    width: 130px;
    height: 30px;
    background-color: rgba(55, 80, 241, 0.788);
}

.short{
    position: relative;
    left: 675px;
    font-size: 12px;
    border-collapse: collapse ;
    width: 40%;
}

#increase-size{
    position: relative;
    top: 2px;
    width: 150px;
    height: 40px;
    background-color: rgba(5, 37, 247, 0.788);
}

#increase-size1{
    width: 650px;
    height: 40px;
}

.color-green{
    color: green;
}