.container{
    width: 170px;
    height: 165px;
    border: 1px;
    background-color: brown;
    position: fixed;

}

img{
    width: 100%;
    height: 100%;
} 

#size-color{
    font-size: 5px;
    color: blue;
}

.account-page{
    position: fixed;
    left: 178px;
    width: 170px;
    height: 165px;
    border: 1px;
    background-color:rgb(218, 218, 218);
    
}

#size-color{
    font-size: 5px;
    position: relative;
    left: 55px;
    top: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    /*text-align: center; */
}

#size{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 40px;
    top: 23px;
    font-size: 3px;
}

.login-psswd{
    width: 50%;
    height: 5px;
    margin: 0px;
    font-size: 3px;
    border-width: 0px;
    border-left-width: 2px;
    border-color: rgba(0, 0, 255, 0.729);
    position: relative;
    left: 30px;
    top: 0px
    
}

#optional{
    position: fixed;
    left: 205px;
    top: 118px;
    width: 5px;
    height: 5px;
}

#size-font{
    font-size: 3px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 122px;
    left: 215px;
}

#size-font1{
    font-size: 3px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 122px;
    left: 275px;
    color: blue;
}

#properties{
    position: fixed;
    top: 140px;
    left: 220px;
    border-radius: 6px;
    width: 70px;
    height: 12px;
    background-color: rgba(5, 5, 196, 0.788);
    font-size: 3px;
    display:inline-block;
    border-width: 0px;
    color: white;
    
}